
<div style="width: 100vw; margin: 0 auto; padding: 0;">
  <div class="search">
    <mat-form-field appearance="fill">
        <mat-label>Search by ID</mat-label>
        <input matInput [(ngModel)]="id" placeholder="Enter ID" />
      </mat-form-field>
    
      <button mat-raised-button color="primary" (click)="searchDevice()">Search</button>
    
      <div *ngIf="device">
        <p>Device found at ({{ device.location.latitude }}, {{ device.location.longitude }})</p>
        <div #mapContainer class="map"></div>
      </div>
    
      <div *ngIf="!device && searched">
        <p>No device found with the specified ID.</p>
      </div>
  </div>
    <div id='map'></div>
</div>
  