
.content {
    padding-top: 10px;
    max-width: 768px; 
    margin: 0 auto; 
}

.row {
    display: flex;
    gap: 10px; 
}

mat-form-field, input, textarea {
    width: 100%;
}

.action {
    padding: 0px 25px 20px; 
}

button {
    flex: 1; 
}

.note {
    width: 100%; 
}


@media screen and (max-width: 768px) {
    .content {
        padding-top: 5px; 
        max-width: none; 
    }
    
    .row {
        flex-direction: column; 
    }
    
    mat-form-field, input, textarea, .note {
        width: 100%; 
    }
    
    .action {
        padding: 0px; 
    }
}
