<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()" id="menuIcon"  aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span id="menuTitle">Device Iot App</span>
  <a mat-button routerLink="/" class="top-menu-item"><mat-icon>home</mat-icon>Home</a>
  <a mat-button routerLink="/devicelist" class="top-menu-item"><mat-icon>settings</mat-icon>Device List</a>
  <a mat-button routerLink="map" class="top-menu-item"><mat-icon> location_on</mat-icon>Map</a>

</mat-toolbar>

<mat-sidenav-container >
  <mat-sidenav #sidenav [fixedInViewport]="true" [fixedTopGap]="60" mode="side">
    <div class="side-nav-items">
      <div>
        <a (click)="sidenav.close()" mat-button routerLink="/" class="side-menu-item"><mat-icon>home</mat-icon>Home</a>
      </div>
      <div>
        <a (click)="sidenav.close()" mat-button routerLink="/devicelist" class="side-menu-item"><mat-icon>settings</mat-icon>
          Device List</a>
      </div>
      <div>
        <a (click)="sidenav.close()" mat-button routerLink="map" class="side-menu-item"><mat-icon> location_on</mat-icon>
          Map</a>
      </div>
  </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-content">
      <router-outlet></router-outlet>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>



