
  .menuleft{
    flex: 1 1 auto;
  }

#menuTitle {
    font-size: medium;
    margin-right: 20px;
  }
  
  .mat-toolbar{
    position: fixed;
    height: 60px;
    z-index: 1000;
  }
  
  .side-nav-items{
    display: flexbox;
    flex-direction: column;
  }
  
  .side-menu-item{
    color: white !important;
    margin-top: 20px;
  }
  
  .main-content{
    margin: 20px;
  }
  
  .mat-sidenav{
    background-color: #3F51B5;
  }
  
  @media (min-width: 900px){
    #menuIcon{
      display: none;
    }
  
    .mat-sidenav{
      display: none;
    }
  
  }
  
  @media (max-width: 900px){
    .top-menu-item {
      display: none;
    }
  }

