h1{
    font-size: 4vw;
    margin-top: 7vh;
}

img{   
    max-width: 70%; 
    height: auto; 
    margin:5% auto;
}

@media only screen and (orientation: landscape) {
    h1 {
        margin-top: 7vw; 
    }
}